node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
**/bin/
**/obj/
.vs/
*.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
