node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
# .NET build artifacts
**/bin/
**/obj/
*.user

# SQLite DB files
**/*.db

# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/

